{% extends  'news/base.html'%}
{% block titleBlock %}
    首页-新经资讯
{% endblock %}
{% block scriptBlock %}
    <script type="text/javascript" src="../../static/news/js/index.js"></script>
{% endblock %}
{% block headerBlock %}
     {% for category in data.category_list %}
                <li class="{% if category.id ==1 %}
                        active
                    {% endif %}" data-cid="{{ category.id }}"><a href="javascript:;">{{ category.name }}</a></li>
            {% endfor %}
{% endblock %}
{% block contentBlock %}
     <ul class="list_con fl">
        {% for news in data.newsList %}
            <li>
            <a href="#" class="news_pic fl"><img src={{ news.index_image_url }}></a>
            <a href="#" class="news_title fl">{{ news.title }}</a>
            <a href="#" class="news_detail fl">{{ news.digest }}</a>
            <div class="author_info fl">
                <div class="author fl">
                    <img src="../../static/news/images/person.png" alt="author">
                    <a href="#">乐鸣</a>
                </div>
                <div class="time fl">{{ news.create_time }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
